<Doctype html>

<html>
    <head>
        <title>
            <h1>This is my about page</h1>
        </title>
    </head>
    <body>
        <h1>{{header}}</h1>
        
        <img src = "GebreReda.jpg" width="300">
        <h1>Created by {{name}}</h1>
    </body>
</html>