{{!-- <h1>{{title}}</h1> --}}
  <div class="btn-group">
    
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">Home</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Tablet</a></li>
        <li><a class="dropdown-item" href="#">Smartphone</a></li>
      </ul>
    </div>
    </div>
      <button type="button" class="btn btn-secondary">About Us</button>
      <button type="button" class="btn btn-secondary">Contact Us</button>
    
      <button type="button" class="btn btn-secondary">Help</button>
  </div>
</dive>